extends layout 

block content 
  p #[strong Category:] 
    a(href=category.url) #{category.name}
  p #[strong Description:] #{category.description}
  if items
    ul 
      each item in items 
        li 
          a(href=item.url)=item.name
  div.d-flex 
    if currentUser !== undefined
      div.p-1  
        a(href=category.url + '/delete')
          button.btn.btn-primary Delete This Category
      div.p-1
        a(href=category.url + '/update')
          button.btn.btn-primary Update Category
    else
      div.p-1
        a(href='/login') Log in to your account to edit or delete this category.
    div.p-1
      a(href='/catalog/products/create')
        button.btn.btn-primary Add an item to this category 