extends layout

block content 
  p #[strong Name:] 
    a(href=item_details.url) #{item_details.name}
  p #[strong Description:] #{item_details.description}
  p #[strong Price:] #{item_details.price}
  p #[strong Category:] 
    a(href=item_details.category.url) #{item_details.category.name}
  p #[strong Amount in stock:] #{item_details.number_in_stock} 
  div.d-flex.gap-2
    div.p-1
      a(href=item_details.url + '/delete')
        button.btn.btn-primary Delete This Item
    div.p-1
      a(href=item_details.url + '/update')
        button.btn.btn-primary Edit This Item
  