extends layout

block content
  div(class='container-lg row')  
        each item in item_list
          - var name = item.name 
          - var categoryurl = item.category.url
          - var img_url = item.img_url
            div(class="card col-sm-3 pt-2")
              img(src=`${item.img_url}` class="card-img-top" style='height:30vh' alt="Shelf with potion bottles.")
              div(class="card-body")
                h5(class="card-title") !{item.name}
                p(class="card-text") !{item.price} gold. !{item.number_in_stock} in stock.
                a(href=item.url class="btn btn-primary") View !{item.name}